body {
  font-family: sans-serif;
}
.header {
  text-align: center;
  .test {
    font-size: 100px;
    color: grey;
  }
  .test-h3 {
    color: grey;
  }
}

.img-container {
  padding-top: 25px;
}

.footer {
  text-align: center;
}
