body {
  font-family: sans-serif;
}
.header {
  text-align: center;
  .next-event {
    color: grey;
  }
  .wordmark {
    max-height: 50vh;
    max-width: 75vw;
  }
}

.img-container {
  padding-top: 25px;
  .computer-person {
    max-height: 20vh
  }
}

.footer {
  text-align: center;
}

.coc {
  text-align: center;
  display: block;
  margin-top: 25px;
}
