body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

.App {
  text-align: center;
}

.bg-pink,
.DropDownMenu.bg-pink {
  background-color: $pink;
}

.white,
.white .pt-icon {
  color: $white;
}

.blue {
  color: $blue;
}

.light-blue {
  color: $light-blue;
}

.pink {
  color: $pink;
}

.light-pink {
  color: $light-pink;
}

section {
  padding: 20px;
}

a {
  text-decoration: underline;
}

hr {
  border-top: 1px solid $light-pink;
  border-bottom: none;
  max-width: 100px;
  margin: 15px auto;
}

img.responsive {
  max-width: 100%;
  height: auto;
}

/* mailchimp embedded form */
#mc_embed_signup {
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

#mc_embed_signup .button {
  background-color: $light-pink;
}

#mc_hidden {
  position: absolute;
  left: -5000px;
}
