%primary-section {
  color: $blue;

  h2 {
    color: $light-pink;
  }

  h3 {
    color: $blue;
  }
}

%secondary-section {
  background-color: $secondary;
  color: $white;

  h2 {
    color: $white;
  }

  h3 {
    color: $light-blue;
  }

  a {
    color: $white;
  }
}

// HEADER
.logo {
  height: 40px;
}

// WELCOME
#welcome {
  background: linear-gradient(
      0deg,
      rgba(0, 121, 176, 0.6) 0%,
      rgba(0, 121, 176, 0.6)
    ),
    url(../images/banner.jpg) no-repeat center center / cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay {
    color: $white;
    max-width: 550px;
    padding: 20px;
    font-size: 1.7em;
  }
}

// ABOUT
#about {
  @extend %primary-section;
  display: flex;
  align-items: center;
  padding: 4rem;

  .content-wrap {
    flex-basis: 65%;
    margin-right: 2rem;
    text-align: left;

    h2 {
      margin-bottom: 1.5rem;
    }
  }

  @media (max-width: $laptop) {
    flex-direction: column;
    padding: 3rem 1rem;

    .content-wrap {
      flex-basis: auto;
      margin: 2rem 0;
    }
  }
}

// EVENTS
#events {
  @extend %secondary-section;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    a {
      color: $light-blue;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  p,
  li {
    line-height: 1.8rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }

  li {
    width: 100%;
  }

  .date {
    font-weight: 600;
    color: $white;
    min-width: 100px;
    padding-right: 5px;
    text-align: left;
  }

  .text {
    line-height: 1.8rem;
    color: $light-gray;

    a {
      color: $light-gray;
      &:hover {
        color: $white;
      }
    }
  }
}

// COMMUNITY
#community {
  @extend %primary-section;
}

// CODE OF CONDUCT
#code-of-conduct {
  @extend %secondary-section;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;

  @media (max-width: $laptop) {
    padding: 3rem 1rem;
  }

  .padded {
    padding: 10px 0;
  }
}

// modal renders outside of #code-of-conduct
.CodeofConduct.modal {
  width: 90%;
  max-width: 800px;
}

#coc-content {
  padding: 20px;
}

// CONTACT
#contact {
  @extend %primary-section;
}
