%primary-section {
  color: $blue;

  h2 {
    color: $light-pink;
  }

  h3 {
    color: $blue;
  }
}

%secondary-section {
  background-color: $secondary;
  color: $white;

  h2 {
    color: $white;
  }

  h3 {
    color: $light-blue;
  }

  a {
    color: $white;
  }
}

// HEADER
.logo {
  height: 40px;
}

// WELCOME
#welcome {
  background: linear-gradient(
      0deg,
      rgba(0, 121, 176, 0.6) 0%,
      rgba(0, 121, 176, 0.6)
    ),
    url(../images/banner.jpg) no-repeat center center / cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay {
    color: $white;
    max-width: 550px;
    padding: 20px;
    font-size: 1.7em;
  }
}

// ABOUT
#about {
  @extend %primary-section;
  display: flex;
  align-items: center;
  padding: 4rem;

  .content-wrap {
    flex-basis: 65%;
    margin-right: 2rem;
    text-align: left;

    h2 {
      margin-bottom: 1.5rem;
    }
  }

  @media (max-width: $laptop) {
    flex-direction: column;
    padding: 3rem 1rem;

    .content-wrap {
      flex-basis: auto;
      margin: 2rem 0;
    }
  }
}

// EVENTS
#events {
  @extend %secondary-section;

  p,
  li {
    line-height: 1.7rem;
  }
}

// COMMUNITY
#community {
  @extend %primary-section;
}

// CODE OF CONDUCT
#code-of-conduct {
  @extend %secondary-section;
}

// CONTACT
#contact {
  @extend %primary-section;
}
